<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tensorflow.lite.examples.classification.test">

    <application>
        <activity
            android:name=".LiteRtTestActivity"
            android:exported="true"
            android:label="LiteRT GPU Tests" />
    </application>

</manifest>
